/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


@font-face {
    font-family: Shabnam;
    src: url('../fonts/shabnam-font-v3.0.0/Shabnam.eot');
    src: url('../fonts/shabnam-font-v3.0.0/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('../fonts/shabnam-font-v3.0.0/Shabnam.woff') format('woff'),
    url('../fonts/shabnam-font-v3.0.0/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/shabnam-font-v3.0.0/Shabnam-Bold.eot');
    src: url('../fonts/shabnam-font-v3.0.0/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/shabnam-font-v3.0.0/Shabnam-Bold.woff') format('woff'),
    url('../fonts/shabnam-font-v3.0.0/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/shabnam-font-v3.0.0/Shabnam-Light.eot');
    src: url('../fonts/shabnam-font-v3.0.0/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/shabnam-font-v3.0.0/Shabnam-Light.woff') format('woff'),
    url('../fonts/shabnam-font-v3.0.0/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    margin: 0;
    font-family: Shabnam;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.Card {
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px 2px;
    padding: 20px;
    background-color: white;
}

.IndexCardImg{
    width: 30%;
}
.Card p{
    margin-top: 20px;
}

.headerSearch .LightCardCondensed{
    padding-bottom: 20px;
}
.CardTitle{
    font-size: 22px;
}

#cardsRow{
    padding-top: 25px;
}

/*.lightCard:hover {*/
/*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);*/
/*}*/

.LightCard{
    box-shadow: 0 2px 80px rgba(0,0,0,0.1);
    background-color: white;
}

/*.LightCondensed{*/
    /*box-shadow: 0 2px 40px rgba(0,0,0,0.1);*/
/*}*/

/*.LightCondensed:hover{*/
    /*box-shadow: 0 20px 40px rgba(0,0,0,0.1);*/
/*}*/

.LightCardCondensed:hover{
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}


.BlackCard{
    box-shadow: 0 2px 80px rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.4);
    padding: 30px 30px;
}
.BlackCard a{
    color: white;
}

.registerButton{
    padding: 5px 5px;
    margin: 0;
}

input{
    border-radius: 10px;
}

#payInput{
    border: 2px solid darkgray;
    font-size: 20px;
    padding-right: 10px;
}

.Button {
    /*background-color: rgb(58,210,203);*/
    border: none;
    color: white;
    margin: 5px 4px;
    padding: 10px 10px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    font-size:inherit;
    box-shadow: 0 2px 80px rgba(0,0,0,0.1);
}

.Button:hover{
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

.Button:active{
    box-shadow: 0 0 40px rgba(0,0 ,0,0.15);
}

.headerContainer{
    position: relative;
    padding-top: 10%;
}
#CurrentCredit
{
    font-size: 26px;
    color: darkgray;
    white-space: pre;
}

#Toman{
    font-size: 26px;
    color: initial;
}
main{
    margin-top: 5%;
}

footer{
    background-color: rgb(24,89,86);
    color: white;
    padding: 1% 10%;
}

.SmallPageFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
}


.RightsReserved{
    margin-top: 1%;
}

input[type="text"] , select {
    margin: 5px 5px;
    padding: 4px 6px 4px 10px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: 40px;
}

.threeIcons{
    float: left;
}
.miniIcons{
    width: 30px;
    height: 30px;
    float: left;
    margin: 7px;
}

.rentDiv{
    float: left;
}

#rent{
    vertical-align: -2px;
}

#sell{
    vertical-align: -2px;
}

.sellDiv{
    float: right;
}

select:invalid {
    color: gray;
}
#secondInputRow{
    margin-top: 10px;
}

select:invalid { color: gray; }

.DealTypeRadio{
    display: inline-block;
    margin: 20px 5px;
    text-align: right;
}

.mainHeader{
    position: fixed;
    width:100%;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
    top: 0;
    padding: 2% 5%;
    background-color: white;
}

#whyKhaneBeDooshTitle{
    font-size: 40px;
    color: rgb(49,49,49);
    padding-bottom: 25px;
}

li{
    margin: 20px 20px;
}
.homeHeader{
    width:100%;
    height: 45%;
    justify-content: center;
}

#bodyContainer{
    position: relative;
    margin-top: 3%;
    margin-bottom: 10%;
}

#why-image {
    width: 100%;
}

.ticks{
    color: rgb(82,72,156);
}

p.Label{
    text-align: left;
}
p.DarkLabel{
    color: darkgray;
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
}


.headerIcon{
    position: relative;
    /*justify-content: center;*/
    /*width: 100%;*/
    text-align: center;
    height: 5%;
    /*right: 35%;*/
    margin-bottom: 10%;
}
#PayBody{
    margin-top: 20px;
}

#payForm{
    margin-top: 20px;
    height: 100%;
}

/*#cf img {*/
/*position:absolute;*/
/*left:0;*/
/*width: 100%;*/
/*height: 60%;*/

.headerSearch{
    position: relative;
    justify-content: center;
}

.headerTitle{
    text-align: center;
    font-size: 22px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.logo{
    width: 35%;
    height: 35%;
}

.homeNav{
    position: relative;
    margin-left: 5px;
    /*margin-top: 10px;*/
    /*right: 20%;*/
    /*width: 100%;*/
    /*height: 150px;*/
    /*float: left;*/
    /*top: -250px;*/
}

.navButton{
    /*position: absolute;*/
    /*border: solid 1px white;*/
    background-color: transparent;
    height: 40px;
    /*margin: 20px 20px 20px 50px;*/
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size:inherit;
    border-radius: 5px;
    float: left;
}

.homeButton{
    margin-top: 20px;
    border: solid 1px white;
}

.navigationBar{
    /*padding-top: 20px;*/
    width: 100%;
    /*height: 60px;*/                                                                           /*     ------------------         */
}

.dropdown{
    position: relative;
    display: inline-block;
    float: left;
    height: 100%;
    /*overflow: hidden;*/
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-hoverable{
    height: 80px;
}

/*.dropdown-hoverable:hover .dropdown-content{*/
    /*display: none;*/
/*}*/

.dropdown .dropdown-hoverable:hover .dropdown-content{
    display: inline;
}

.dropdown-content{
    display: none;
    position: absolute;
    left: 1%;
    top: 60px;
    /*float: left;*/
    width: 150%;
    /*background-color: #f9f9f9;*/
    /*min-width: 160px;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.username{
    display: block;
    font-weight: bold;
    text-align: right;
}

.credit{
    height: 150%;
    text-align: center;
    padding: 10px 10px;
    font-size: 110%;
}

.credit *{
    padding-top: 5px;
    padding-bottom: 10px;
}

.creditName{
    float: right;
}

.creditValue{
    float: left;
}

.increaseCredit{
    margin-right: 2px;
}


.dealTypeSelect{
    margin-top: 41px;
}


/*                              ........................                    */


.navHomeIcon{
    text-align: right;
    justify-content: center;
    margin-right: 10%;
}

.navigation{
    height: 20%;
    margin: 0;
}

.navLogo{
    width: 10%;
    height: 10%;
}

.navText{
    vertical-align: 14px;
    display: inline-block;
    margin-right: 2%;
}

.purple{
    color: purple;
    border: purple;
}

.white{
    color: white;
}

.navbarButtonContainer{
    margin-top: 10px;
    margin-right: 10%;
    padding-top: 20px;
}

.header{
    background-image: url("../images/geometry.png");
    width: 100%;
    height: 100px;
}

.nav2Text{
    font-weight: bold;
    font-size: 30px;
}

.nav2{
    width: 100%;
}

.nav2 li{
    width: 25%;
}

.cyan{
    color: rgb(58,210,203);
}

.houseInfoButton{
    position: absolute;
    display: block;
    top: -0.5%;
    right: 75%;
    width: 20%;
}

.bcyan{
    background-color: rgb(58,210,203);
}

.bred{
    background-color: red;
    width: 33%;
    right: 63%;
}

.bpurple{
    background-color: purple;
}

.darkgray{
    color: darkgray;
}

.searchContainer{
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 10px;
    border-radius: 5px;
}

div .LightCardCondensed{
    padding: 0;
    margin-top: 1%;
    margin-bottom: 1%;
}

.LightCardCondensed div{
    margin-top: 2%;
}

.LightCardCondensed p{
    /*font-size: 18px;*/
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 2%;
    display: inline-block;
}

.LightCardCondensed p.left{
    float:left;
}

.LightCardCondensed p.right{
    float: right;
}

.LightCardCondensed p.middle{
    text-align: center;
}


.houseImage{
    position: relative;
    width: 100%;
    height: 60%;
    border-radius: 4px;
}

.locationIcon{
    color: red;
}

.line{
    border-top: 1px solid #8c8b8b;
    width: 95%;
    margin-top: 5%;
}

.currency{
    font-size: 12px;
    color: darkgray;
}


.cf {
    width: 100%;
    overflow: hidden;
    position:absolute;
    margin:0 auto;
}
.cf div {
    animation: headerBackground;
    height: 800px;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 400%;
}
.cf div img {
    float: right;
    width: 25%;
    height: 100%;
}

@keyframes headerBackground {
    0%, 15% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    25%, 40% {
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        -o-transform: translateX(25%);
        transform: translateX(25%);
    }

    50%, 65%{
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }

    75%, 90%, 100% {
        -webkit-transform: translateX(75%);
        -moz-transform: translateX(75%);
        -ms-transform: translateX(75%);
        -o-transform: translateX(75%);
        transform: translateX(75%);
    }

}

/*b.salam {*/
/*font-family: Shabnam;*/
/*}*/